// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$primary: rgb(174, 24, 24);

// buttons
$nav-pills-border-radius: 0;
//$enable-gradients: true;
